body {
    align-items: center;
    display: flex;
    justify-content: center;
    background-color:rgb(111, 150, 209)
}

html, body {
    height: 100%;
    width: 100%;
}



#card {
    text-align: center;
    border-radius: 10px;
    background-color: rgb(172, 160, 160);
    width: 361px;
    height: 384px;
    padding: 30px;
    justify-content: center
    
}

#card img {
    width: 50%;
    text-align: center;
    justify-content: center;
    height: 50%;
    object-fit: cover;
    padding: 4px 87px 21px;

}

#card h1 {
    font-size: 25px;
    font-weight: bold;
    color: rgb(0, 0, 0);

}

#card h2 {
    font-size: 24px;
    color: rgb(199, 41, 41);
}

#card button {
  background: rgb(33, 145, 92);
    font-size: 16px;
    padding: 9px;
    border: none;
    border-radius: 4px;
    color: rgb(0, 0, 0)
}

#card #remove {
    background-color: rgb(155, 155, 155);
   color: black;
    margin: 11px;
}